@import "variables.scss";

.button {
    display: inline-block;
    padding: 8px 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'SourceSansPro-Black';
    text-align: center;

    .button-lg {
        padding: 12px 24px;
    }
}

.button-primary {
    background-color: $primary-color;

    &:hover {
        background-color: #3D4E51;
    }
}

.button-secondary {
    background-color: $secondary-color;

    &:hover {
        background-color: $hover-link;
    }
}

.button-lg {
    font-size: 18px;
    font-family: 'SourceSansPro-Bold';
}

.button-iconic {
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.button-iconic-facebook {
    background-image: url('../../Images/facebook.png');
}

.button-iconic-linkedIn {
    background-image: url('../../Images/in.png');
}

.button-iconic-google {
    background-image: url('../../Images/google-plus.png');
}

.button-iconic-arrow-down {
    background-image: url('../../Images/arrow-down.png');
}
