/* SourceSansPro */

@font-face {
    font-family: 'SourceSansPro-Black';
    src: url('../../fonts/SourceSansPro/SourceSansPro-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-SemiBoldItalic';
    src: url('../../font/SourceSansPro/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-SemiBold';
    src: url('../../font/SourceSansPro/SourceSansPro-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('../../font/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-LightItalic';
    src: url('../../font/SourceSansPro/SourceSansPro-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('../../font/SourceSansPro/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Italic';
    src: url('../../font/SourceSansPro/SourceSansPro-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-ExtraLightItalic';
    src: url('../../font/SourceSansPro/SourceSansPro-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-ExtraLight';
    src: url('../../font/SourceSansPro/SourceSansPro-ExtraLight.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-BoldItalic';
    src: url('../../font/SourceSansPro/SourceSansPro-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('../../font/SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSansPro-BlackItalic';
    src: url('../../font/SourceSansPro/SourceSansPro-BlackItalic.ttf') format('truetype');
}

/* PTSans */

@font-face {
    font-family: 'PT_Sans-Web-Bold';
    src: url('../../font/PTSans/PT_Sans-Web-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'PT_Sans-Web-BoldItalic';
    src: url('../../font/PTSans/PT_Sans-Web-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'PT_Sans-Web-Italic';
    src: url('../../font/PTSans/PT_Sans-Web-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'PT_Sans-Web-Regular';
    src: url('../../font/PTSans/PT_Sans-Web-Regular.ttf') format('truetype');
}

/* Lato */

@font-face {
    font-family: 'Lato-Black';
    src: url('../../font/Lato/Lato-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('../../font/Lato/Lato-BlackItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Bold';
    src: url('../../font/Lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('../../font/Lato/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Hairline';
    src: url('../../font/Lato/Lato-Hairline.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-HairlineItalic';
    src: url('../../font/Lato/Lato-HairlineItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Italic';
    src: url('../../font/Lato/Lato-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../../font/Lato/Lato-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-LightItalic';
    src: url('../../font/Lato/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('../../font/Lato/Lato-Regular.ttf') format('truetype');
}
