@import "variables.scss";

.footer {
    background: $primary-color;
}


.footer__copyright {
    padding: 35px;
    text-align: center;

    .text {
        color: #fff;
        font-size: 14px;
    }
}
