$splash-screen-text-color: #FFF;

.splash-screen {
    padding: 130px 0;
    background-image: url('../../Images/bcgrd.png');
    background-position: center;
    background-size: cover;
}

.splash-screen__title {
    color: $splash-screen-text-color;
    font-size: 42px;
    font-family: 'PT_Sans-Web-Bold';
    text-decoration: underline;
    letter-spacing: 2px;
    white-space: pre-line;
}

.splash-screen__text {
    color: $splash-screen-text-color;
    font-size: 17px;
    font-family: 'Lato-Regular';
    text-transform: uppercase;
    letter-spacing: 4px;
    white-space: pre-line;
    line-height: 30px;
}

.splash-screen__arrow {
    margin-top: 40px;
    text-align: center;
}
